.exammark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header  {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }
  .content {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    .mycard {
      background-color: #f1f6fd;
      border: 1px solid #ccc;
      height: 160px;
      .mymeta {
        color: #fff;
      }
    }
    .children {
      display: flex;
      justify-content: center;
      align-items: around;
      height: auto;
      .itemAnswer, .itemPaper {
        height: 100px;
      }
      .itemAnswer img, .itemPaper img {
        max-width: 100%;
        height: 90%;
      }
      .itemPaper {
        width: 500px;
        height: 400px;
      }
      .itemAnswer {
        width: 500px;
        height: 400px;
      }
    }
    
  }
}