.rigister {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1677FF;
  .box {
    h1 {
      margin-left: 20px;
      margin-bottom: 15px;
    }
    height: 530px;
    width: 600px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    padding-left: 0px;
  }
}