@import '../../../../constants/variables.scss';

.userInfo {
	line-height: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.headerName {
		color: $base_color;
		flex: 1;
		white-space: nowrap;
		margin-bottom: 5px;
	}

	.schoolName {
		font-size: 12px;
		color: $gray_text_color;
		margin-bottom: 5px;
	}

	svg {
		margin-left: auto;
	}
}
